body {
    padding: 25px;
    color: #454545;
    font-size: 16px;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
    line-height: 1.4;
    text-align: justify;
}

.dark-mode {
    background-color: black;
    color: #d9d9d9;
}

a {
    color: #0051c9
}

a:visited {
    color: #7d013e
}